.container {
    display: flex;
    flex-direction: column;
    background: black;
}

.navigation {
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    background:black;
    justify-content: center;
}

.navigation>li {
    padding: 8px;
    color: whitesmoke;
    font-size: 300%;
}

.navigation>li>a {

    color: white;
    text-decoration: none;
    font-size: 110%;
    
    
}

.about {
font-size: 310%;

    
}

.header{
    text-align: center;
    font-size: 300%;
}

.navigation>li:hover {
    cursor: pointer;
}
h1{
    text-align: center;
    color: whitesmoke;
}

.legs {

    height: 50%;
    width: 100%;
}

.snail {
    position: absolute;
    
    width: 50%;
    height: 70.4%;
}

.water {

    float: right;
    width: 50%;
    height: 50%;
}

.contactinfo {color: black;
 
    font-size: 300%;
    position: absolute;
    margin-top: 500px;
    font-weight: bold;


}

.contactinfo>a {
    text-decoration: none;
    color: black;
}

.yeet{color:black; 
     font-size: 500%;
    position: absolute;
    margin-top: 20%;
}